{% extends "base.html" %}
{% block content %}

<body class="text-center h-100">
  

    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
          <div class="col-10 col-md-8 col-lg-6"><br>
            &nbsp;
            <p><h3>Vul je gegevens in om je in te schrijven</h3></p>

<form class="row g-3" method="POST">
  {# This hidden_tag is a CSRF security feature. #}
  {{ form.hidden_tag() }}
  {{form.role.label}} {{form.role() }}
  <div class="form-group row g-3 align-items-center">

  
  {{ form.email.label }}{{ form.email(class="form-control", size=32, placeholder='Email') }}</div>
  <div class="form-group row g-3 align-items-center">

  {{ form.username.label }} {{ form.username(class="form-control", size=32, placeholder='Username') }}</div>
  <div class="form-group row g-3 align-items-center">

  {{ form.password.label }} {{ form.password(class="form-control", size=32, placeholder='Password') }}</div>
  <div class="form-group row g-3 align-items-center">
  {{ form.pass_confirm.label }} {{ form.pass_confirm(class="form-control", size=32, placeholder='Confirm Password') }}</div>

  <div class="col-3 btn btn-primary align-items-right">
    
  
  {{ form.submit(class="form-control col-2 btn btn-primary align-items-center ", size=6) }}</div>
</form>


  {% endblock %}
